body {
    background-color: #c5c76a;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

h1, h2 {
    color: #333;
    font-family: 'Times New Roman', serif;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border: 1px solid #ccc;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

img {
    width: 250px;
    margin: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
